<?php

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@PSR2' => true,
        'blank_line_after_namespace' => true,
        'blank_line_after_opening_tag' => true,
        'blank_line_before_return' => true,
        'blank_line_before_statement' => [
            'statements' => [
                'break', 
                'continue', 
                'declare', 
                'return', 
                'throw', 
                'try',
            ]
        ],
        'binary_operator_spaces' => [
           'align_double_arrow' => true,
           'align_equals' => true,
        ],
        'function_typehint_space' => true,
        'method_separation' => true,
        'modernize_types_casting' => true,
        'new_with_braces' => true,
        'no_blank_lines_after_class_opening' => true,
        'no_blank_lines_after_phpdoc' => true,
        'no_extra_consecutive_blank_lines' => true,
        'no_alias_functions' => true,
        'no_unused_imports' => true,
        'no_whitespace_in_blank_line' => true,
    ])
    ->setFinder(PhpCsFixer\Finder::create()
        ->in('app')
    );
