@import "scss/bootstrap";

body {
  font-family: 'Robot', 'Noto Sans Japanese';
  font-weight: 200;
}

main {
  max-width: 720px !important;
}

a {
  cursor: pointer;
}

.bg-main {
  background-color: #ac2926;
}

.bg-sub {
  background-color: #26a9ac;
}

.badge {
  font-weight: 300;
}

.text-08rem {
  font-size: 0.8rem;
}

.ws-preline {
  white-space: pre-line;
}