@import 'scss/bootstrap';

body {
  font-size: 14px;
  font-family: 'Robot', 'Noto Sans Japanese';
}

.bg-main {
  background: #ac2926;
}
.bg-sub {
  background: #26a9ac;
}

a {
  cursor: pointer;
}

.ws-preline {
  white-space: pre-line;
}