@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../node_modules/@fortawesome/fontawesome-svg-core/styles.css';

html {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.h2 {
  font-size: 1.4rem;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

.h3 {
  font-size: 1.3rem;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

.h5 {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}

.h6 {
  font-size: 1.1rem;
  margin-bottom: 0.75rem;
}

th,
td {
  white-space: nowrap;
}
