@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../node_modules/@fortawesome/fontawesome-svg-core/styles.css';

body {
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: theme('colors.gray.700');
}

/*
h1,
h2,
h3,
h4,
h5,
h6 {
  color: theme('colors.gray.900');
}
*/

a {
  color: #ac2926;
}

.h1 {
  font-size: 1.6rem;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.h2 {
  font-size: 1.4rem;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
}

.h3 {
  font-size: 1.3rem;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

.h5 {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}

.h6 {
  font-size: 1.1rem;
  margin-bottom: 0.75rem;
}

.table-scroll {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

/*
table {
  min-width: 100%;
}

tr {
  border-collapse: collapse;
  border-bottom: 1px solid #edf2f7;
}

td,
th {
  white-space: nowrap;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

th {
  background-color: #cbd5e0;
  text-align: center;
}

th {
  text-align: center;
}
*/

.breadcrumb {
  display: flex;
}

.breadcrumb-item + .breadcrumb-item::before {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  content: '/';
}

ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 14px;
  width: 2px;
  height: 100%;
  z-index: 1;
}

ul.timeline > li {
  margin: 10px 0;
  padding-left: 30px;
}

ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #ac2926;
  left: 10px;
  width: 10px;
  height: 10px;
  margin-top: 5px;
  z-index: 1;
}
