@import "./bootstrap";
@import "./markdown";
@import "./header";
@import "./footer";

@import "../../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "../../../node_modules/@fortawesome/fontawesome-free/css/brands.min.css";

html {
  font-size: 14px;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  padding-top: 50px;
  padding-bottom: 50px;
}
