//@import "./bootstrap";
@import "./bulma";
@import "./markdown";
@import "./header";
@import "./footer";

@import "../../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "../../../node_modules/@fortawesome/fontawesome-free/css/brands.min.css";
@import "../../../node_modules/@fortawesome/fontawesome-free/css/regular.min.css";

html {
  font-size: 14px;
}
body {
  font-size: 1rem;
}

main {
  padding-top: 50px;
  padding-bottom: 50px;
}
