@import "./bootstrap";
@import "./markdown";
@import "./header";
@import "./footer";

@import "../../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "../../../node_modules/@fortawesome/fontawesome-free/css/brands.min.css";

html {
  font-size: 14px;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 720px;
}
