@import "~vue-material/dist/theme/engine";

@include md-register-theme("default", (
  primary: #ac2926,
  accent: #26a9ac
));

@import "~vue-material/dist/theme/all";

html,
body,
body > div,
body > div > div {
  height: 100%;
}