@import "scss/mdc";
@import "scss/mdl";

body {
  margin: 0;
}

#main {
  display: inline-flex;
  width: 100%;
}

main {
  display: block;
  width: 720px;
  margin: auto;
  margin-top: 50px !important;
}

@media (max-width:719px) {
  main {
    width: 100%;
  }
}

@media (min-width:720px) and (max-width:960px) {
  main {
    width: calc(100% - 240px);
  }
}

.slf-dblock {
  display: block;
}

.slf-talign-center {
  text-align: center
}

.slf-mtop-20 {
  margin-top: 20px;
}