.main-content {
  a {
    display: inline-block;
  }

  ul {
    margin-top: 0.25rem;
    padding-left: 1rem;
    list-style-type: none;

    li {
      margin-bottom: 0.25rem;
      & > p {
        display: inline;
      }
    }

    li::before {
      content: "-";
      color: #696969;
      font-weight: 900;
      padding-right: 1rem;
    }
  }

  .table-scroll {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }

  .table-noheader thead {
    display: none;
  }

  table {
    width: 100%;
    border: 1px solid lightgray;

    thead {
      background-color: #e2e3e5;
      td {
        white-space: nowrap;
      }
    }

    th,
    td {
      border: 1px solid lightgray;
      padding: 0.5rem;
      white-space: nowrap;

      &[align="center"] {
        text-align: center;
      }
    }
  }

  .timeline {
    ul {
      list-style-type: none;
      position: relative;
    }
    ul:before {
      content: " ";
      background: #d4d9df;
      display: inline-block;
      position: absolute;
      left: 29px;
      width: 2px;
      height: 100%;
      z-index: 400;
    }
    ul > li {
      margin: 20px 0;
      padding-left: 50px;
    }
    ul > li:before {
      content: " ";
      background: white;
      display: inline-block;
      position: absolute;
      border-radius: 50%;
      border: 3px solid #ac2926;
      left: 20px;
      width: 20px;
      height: 20px;
      z-index: 400;
    }
  }
}
