.main-content {
  a {
    display: inline-block;
  }

  a:not(:last-child) {
    margin-right: 0.5rem;
  }

  p {
    margin-bottom: 1rem;
  }

  table {
    & tr,
    td {
      white-space: nowrap;
    }

    th {
      text-align: center;
    }
  }

  ul {
    margin-top: 0.25rem;
    padding-left: 1rem;
    list-style-type: none;

    li {
      margin-bottom: 0.25rem;
      & > p {
        display: inline;
      }
    }

    li::before {
      content: "-";
      color: #696969;
      font-weight: 900;
      padding-right: 1rem;
    }
  }

  .timeline {
    ul {
      list-style-type: none;
      position: relative;
    }
    ul:before {
      content: " ";
      background: #d4d9df;
      display: inline-block;
      position: absolute;
      left: 29px;
      width: 2px;
      height: 100%;
      z-index: 400;
    }
    ul > li {
      margin: 20px 0;
      padding-left: 50px;
    }
    ul > li:before {
      content: " ";
      background: white;
      display: inline-block;
      position: absolute;
      border-radius: 50%;
      border: 3px solid #ac2926;
      left: 20px;
      width: 20px;
      height: 20px;
      z-index: 400;
    }
  }
}

#page-member {
  li {
    &::before {
      content: none;
      padding-right: 0;
    }
    list-style: none;
    font-size: 0.75rem;
    display: inline-block;
    padding: 0.25rem;
    border-radius: 0.25rem;
    border: 1px solid black;
  }
}
