@import "./bootstrap";

html {
  font-size: 13px;
}

main {
  padding-top: 50px;
  padding-bottom: 50px;
}

.hub-h1 {
  font-size: 1.75rem;
  margin-bottom: 3rem;
  text-align: center;
}

.hub-h2 {
  font-size: 1.5rem;
  padding-bottom: 0.25rem;
  margin-bottom: 1rem;
  border-bottom: 1px dotted;
}
