@import "./bootstrap";

html {
  font-size: 12px;
  position: relative;
}

body {
  min-height: 100vh;
}

main {
  padding-bottom: 45px;
}

footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.title-main {
  font-size: 1.75rem;
  margin-bottom: 3rem;
  text-align: center;
}

.title-sub {
  font-size: 1.5rem;
  padding-bottom: 0.25rem;
  margin-bottom: 1rem;
  border-bottom: 1px dotted;
}
