//@import "./bootstrap";
@import "./bulma";
@import "./markdown";
@import "./header";
@import "./footer";

@import "../../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import "../../../node_modules/@fortawesome/fontawesome-free/css/brands.min.css";
@import "../../../node_modules/@fortawesome/fontawesome-free/css/regular.min.css";
@import "../../../node_modules/@fortawesome/fontawesome-free/css/solid.min.css";

body {
  font-size: 1rem;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

main {
  padding-top: 50px;
  padding-bottom: 50px;
}

h1 {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  position: relative;
  border-bottom: 3px solid #696969;
}

h1:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 25%;
  border-bottom: 3px solid #ac2926;
  margin-bottom: -3px;
}

h2 {
  font-size: 1.5rem;
  margin-top: 3rem;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  border-bottom: 1px dotted;
}

h3 {
  font-size: 1.3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.2rem;
  margin-bottom: 0.75rem;
}
